<h1> Add a new post! </h1>

<form action="/new_post" method="post">
  <label for="title">
    Title
    <input type="text" name="title">
  </label>
  <label for="body">
    Body
    <input type="text" name="body">
  </label>
  <input type="submit" value="Submit">
</form>
