<center><h1> All Chitter Posts </h1></center>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h2> <%= post.title %> </h2>
      <p> <%= post.body %> </p>
      <p> Posted at </p>
      <p> <%= post.updated_at %> </p>
    </li>
  <% end %>
</ul>
