<h1>Chitter!</h1>
<h2>Sign in to access</h2>

<form action="/sign_in" method="post">
  <label for="username">
    Username
    <input type="text" name="username">
  </label>
  <input type="submit" value="Submit">
</form>
